@model IEnumerable<StoneDesafio.Models.Resultado>

@{
    ViewData["Title"] = "Listagem de Resultados";
}


<h2>Resultados</h2>
<p>
    <a asp-action="Criar">Novo Resultado</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolsClubeA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GolsClubeB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FimJogo)
            </th>
            <th class="text-center">
                Acoes
            </th>
           </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.GolsClubeA)
                </td>
                <td>
                    @Html.DisplayFor(model => item.GolsClubeB)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FimJogo)
                </td>
                <td class="d-flex justify-content-center gap-2 align-items-center">
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-info" asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> 
                    <a class="btn btn-close btn-danger p-2 bg-danger" asp-action="Deletar" asp-route-id="@item.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
