@model IEnumerable<StoneDesafio.Models.FaseCampeonato>

@{
    ViewData["Title"] = "Listagem das fases do campeonato";
}


<h2>Fases do campeonato</h2>


<p>
    <a asp-action="Criar">Nova fase do campeonato</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().FaseAtualCampeonato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Jogos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => item.FaseAtualCampeonato)
                </td>
                <td>
                    @Html.DisplayFor(model => item.Jogos)
                </td>
                <td>
                    <a asp-action="Editar" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Detalhes" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Deletar" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
