@model IEnumerable<StoneDesafio.Models.Jogo>

@{
    ViewData["Title"] = "Listagem de Jogos";
}

@if (ViewData["Mensagem"] != null)
{
    var erro = (MensagemResultado)ViewBag.Mensagem.Resultado == MensagemResultado.Falha;

    <div class="alert d-flex justify-content-between @(erro ? "alert-danger" : "alert-success")">
        <div class="d-inline-block">
            @ViewBag.Mensagem
        </div>
        <div class="d-inline-block">
            <button type="button" class="btn btn-warning btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
        </div>
    </div>
}

<h2>
    Jogos
</h2>

<table border="1" class="table table-striped shadow mb-2 bg-white">
    <thead>
        <tr>
            <th>
                Clube A
            </th>
            <th>
                Clube B
            </th>
            <th>
                Fase
            </th>
            <th class="text-center">
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var jogo in Model)
        {
            <tr>
                <td>@jogo.ClubeA.Nome</td>

                <td>@jogo.ClubeB.Nome</td>

                <td>@jogo.Fase.FaseAtualCampeonato.ToString()</td>
                
                <td class="d-flex justify-content-center gap-2 align-items-center">
                    <a class="btn btn-warning" asp-action="Editar" asp-route-id="@jogo.Id">Editar</a>
                    <a class="btn btn-info" asp-action="Detalhes" asp-route-id="@jogo.Id">Detalhes</a>
                    <a id="deletar" class="btn btn-close btn-danger p-2 bg-danger" asp-action="Deletar" asp-route-id="@jogo.Id"></a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a class="btn btn-success" asp-action="Criar">Novo Jogo</a>
<script>
    function Deletar(e) {
        console.log(e);
        let excluir = confirm("Tem certeza que deseja excluir?");
        if (!excluir) e.preventDefault();
    }

    document.querySelectorAll("#deletar").forEach(element => element.addEventListener("click", Deletar));
</script>