@model IEnumerable<StoneDesafio.Models.Jogo>

@{
    ViewData["Title"] = "Listagem de Jogos";
}
<div class="d-flex justify-content-between">
    <h2 class="mb-3">
        Todos jogos
    </h2>
    <a class="btn btn-success" asp-action="Criar" style="max-height: 40px;">Novo Jogo</a>
</div>
<div class="container d-flex justify-content-start gap-3 flex-wrap text-start mb-2">
    @foreach (var jogo in Model)
    {
        <div class="card" style="height: 350px; width: 300px">
            <img class="card-img-top" src="https://i1.wp.com/www.dci.com.br/wp-content/uploads/2022/04/51857433903_31fc331539_k-e1651242297343-940x627.jpg" alt="Card image cap" style="height: 200px">
            <div class="card-body">
                <h5 class="card-title">@jogo.ClubeA.Nome x @jogo.ClubeB.Nome</h5>
                <p>@jogo.GolsA - @jogo.GolsB</p>
            <div class="d-flex align-items-center gap-2 justify-content-center">
                <a class="btn btn-warning" asp-action="Editar" asp-route-id="@jogo.Id">Editar</a>
                <a id="deletar" class="btn btn-close btn-danger p-2 bg-danger" asp-action="Deletar" asp-route-id="@jogo.Id"></a>
            </div>
            </div>
        </div>
    }
</div>
<script>
    function Deletar(e) {
        console.log(e);
        let excluir = confirm("Tem certeza que deseja excluir?");
        if (!excluir) e.preventDefault();
    }

    document.querySelectorAll("#deletar").forEach(element => element.addEventListener("click", Deletar));
</script>